.trash{
    display: flex;
    color: grey;
    gap: 10px;
    transition: background ease 0.3s;
    margin-left: 80px;
    margin-top: 150px;
}
.trash:hover{
    color: black;
    border-color: transparent;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
   
}
.cartt{
    display: flex;
    font-size: 35px;
    gap: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}
.pizzaImg{
    width: 150px;
}
.add{
    color: rgb(255, 132, 0);
  
    font-size: 35px;
}
.add:hover{
 color:rgb(255, 38, 0) ;
}

.minuse{
    font-size: 35px;
    color: grey;
  
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.nur{
    font-size: 25px;
    font-weight:300;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cht{
    font-weight: 900;
}
.sell{
    font-size: 25px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;
}
.cartcard{
    width: 1200px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    }
    .dani{
        color: rgb(255, 85, 0);
        font-weight: 700;
    }
    .whith{
        font-size: 16px;
        color: rgb(138, 138, 138);
        margin-left: 15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  

    }

.han{
    width: 400px;
    color: rgb(126, 126, 126);
    font-weight: 500;
    font-size: 18px;
  margin-top: 8px;

}
.chees{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.oku{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    color: black;
    margin-left: 15px;
}
.back{
    font-size: 33px;
    color: rgb(230, 230, 228);
    margin-left: 45px;

}
.back:hover{
    color: black;
}
.back1{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    color: rgb(113, 113, 113);
    background-color: white;
    border: 1px solid  rgb(113, 113, 113) ;
    transition: background ease 0.3s;
    display: flex;
    padding-top: 15px;
    padding-left: 17px;
   


}
.back1:hover{
    background-color: black;
    color: white;
  
    border-color: transparent;
}
.arrow{
    font-size: 20px;
 
   
 
}
.buy{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: rgb(245, 109, 5);
    transition: background ease 0.3s;

}
.buy:hover{
    background-color: rgb(245, 85, 5) ;
      
    border-color: transparent;

}
.pust{
    font-size: 40px;
    font-weight:700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.yet{
    width: 600px;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 300;
    color: grey;
    margin-top: 10px;

}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.very{
    font-size: 17px;
    color: rgb(124, 124, 124);
    font-weight: 500;
}
.cartWoman{
    width: 300px;
    margin-top: 20px;
}
.quantities{
    font-weight: 700;
}
.v2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    color: black;
      

 
}
.quantity1{
    font-family: sans-serif;
}