.vse{
  
   padding: 15px;

   color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
   
    
  
    border-radius: 20px;
}
.vse:hover{
    background-color: rgb(216, 215, 215);
  
}
.vse:active,
  .vse:focus {
    background-color: black;
    color: white;
    outline: none; 
  }
  
.dropdown {
  
  display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    margin-left: 150px;
  }
  
  
  .sort {
    font-weight: bold;
    cursor: pointer;
    color: black;
    
   
  }
  
  .selected-sort {
    color: orange;
  }
  
  .selected-sort:hover {
    text-decoration: underline;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
  }
  
  .dropdown-content p:hover {
    background-color: #fcefd6;
  }
  



  